header {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
}
.logo {
    color: white;
    float: left;
    font-size:25px;
    line-height:60px;
    width: 20px;
}
header ul {
    float: right;
    line-height: 40px;
}
header ul li {
    color: white;
    float: left;
    font-size: 18px;
    list-style: none;
    padding-right: 20px;

}
main {
    clear: both;
}
.main-container {
    margin: 0 auto;
    padding-top: 150px;
    width: 95%;
}
.right {
    background-color: lightblue;
    display: inline-block;
    float: left;
    height: 400px;
    margin-bottom: 40px;
    width: 70%;
}
.left {
    background-color: skyblue;
    display: inline-block;
    float: left;
    height: 400px;
    margin-bottom: 40px;
    width: 30%;
}
footer {
    background-color: black;
    clear: left;
    color: white;
    height: 60px;
    line-height: 60px;   
    position: absolute;
    bottom: 0;
    left: 0px;
    text-align: center;
    width: 100%;
}
.copyright {
    display: inline-block;
}
.year {
    margin-left: 100px;
}
      




    