body {
    font-family: 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
}

h1 {
    background-color: #f1f1f1;
    border-left: 4px red solid;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 500px;
}

.confirm {
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    width: 450px;
}

form {
    float: left;
    margin-right: 15px;
}

.button1 {
    background-color: #bfbfbf;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    color: white;
    padding: 4px 10px;
}

.button2 {
    background-color: darkorange;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-bottom: 2px solid #E08600;
    color: white;
    padding: 4px 10px;
}